# Database
DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASS=
DB_NAME=

# Geo-blocking
SRP_BLOCK_COUNTRIES=

# Cloudflare Insights
SRP_ALLOW_CLOUDFLARE_INSIGHTS=0
SRP_CF_INSIGHTS_TOKEN=

# Click log
SRP_REPORT_DIR=

# API
SRP_API_KEY=

# GeoIP updater
MAXMIND_LICENSE_KEY=
